$color-margin: #DE6A63;
$color-padding: #C5D936;
$color-content: #63BCF8;
$color-border: #F8CC63;
$color-box-sizing: #8ADFE0;

$color-dark-light: #343434;
$color-dark-lighter: #444;
$color-dark-lightest: #777;

.bar-color {
  height: 20px;
  border-right: 3px solid;
  box-sizing: content-box;
}

#margin {
  legend {
    color: $color-margin;
  }
  .slider-selection, .bar-color {
    background-color: $color-margin;
  }
  .bar-color,
  .handle {
    border-color: $color-margin;
  }
}

.box-margin {
  span::before, span::after {
    color: darken($color-margin, 30%);
  }
}

#padding {
  legend {
    color: $color-padding;
  }
  .slider-selection, .bar-color {
    background-color: $color-padding;
  }
  .bar-color,
  slider div.handle,
  [slider] div.handle {
    border-color: $color-padding;
  }
}

.box-padding {
  span::before, span::after {
    color: darken($color-padding, 30%);
  }
}

#border {
  legend {
    color: $color-border;
  }
  .slider-selection, .bar-color {
    background-color: $color-border;
  }
  .bar-color, .handle {
    border-color: $color-border;
  }
}

.box-border {
  span::before, span::after {
    color: darken($color-border, 40%);
  }
}

#dimensions {
  legend {
    color: $color-content;
  }
  .slider-selection, .bar-color {
    background-color: $color-content;
  }
  .bar-color, .handle {
    border-color: $color-content;
  }
}

.control-set {
  margin-top: 20px;
}

#padding-v::before {
  top: -8px;
}

.radio {
  position: relative;
  margin: 0 .5rem 0 0;
  cursor: pointer;
  &::before,
  &::after {
    @include transition(all 0.3s ease-in-out);
    content: "";
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    z-index: 1;
    width: 20px;
    height: 20px;
    background: $color-dark-light;
    border-radius: 50%;
  }
  &::after {
    z-index: 0;
    width: 20px;
    height: 20px;
    background: $color-dark-light;
  }
  &:checked, &.ng-valid-parse {
    &::after {
      border: 3px solid $color-box-sizing;
      background: $backgroundColor;
    }
  }
  &:checked {
    &::before {
      @include transform(scale(0, 0));
      border-color: $color-box-sizing;
      border-width: rem(10);
    }
  }
}

.marker {
  font-family: unquote(map-get($headingtype, font-family));
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 11px;
  top: -12px;
  left: 5px;
  position: relative;
  &#marker-padding {
    color: darken($color-padding, 15%);
  }
  &#marker-border {
    color: darken($color-border, 28%);
  }
  &#marker-margin {
    color: darken($color-margin, 20%);
  }
  &#marker-content {
    color: darken($color-content, 20%);
    float: left;
    top: 0;
  }
}

slider, [slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 60%;
  vertical-align: middle;
  margin: 5px;
  div {
    white-space: nowrap;
    position: absolute;
    &.handle {
      border: 3px solid;
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: $backgroundColor;
      z-index: 2;
      border-radius: 100%;
      &::after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        left: 6px;
        border-radius: 100%;
        background-color: transparent;
      }
      &.active::after {
        background-color: transparent;
      }
    }
    &.bar {
      width: 100%;
      height: 100%;
      border-radius: 7px;
      background: $color-dark-lighter;
      overflow: hidden;
      .selection {
        width: 0;
        height: 100%;
      }
    }
    &.bubble {
      display: none;
      cursor: default;
      top: -22px;
      padding: 1px 3px;
      font-size: 0.7em;
      &.active {
        display: inline-block;
      }
      &.limit {
        color: $color-dark-lightest;
      }
    }
  }
}

.bubble.value.low.ng-binding.active {
  display: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

main {
  @include outer-container;
}

.box-model {
  @include span-columns(7);
  #dimensions, #generated-size {
    @include span-columns(4 of 7);
  }
  #generated-size {
    @include span-columns(3 of 7);
    @include omega;
  }
}

.controls {
  @include span-columns(5);
}

main {
  margin: 20px auto;
  padding: 0 20px;
}

#diagram {
  margin-left: 5px;
  clear: left;
  padding-top: $gutter;
}

fieldset {
  border: 1px solid $color-dark-light;
  padding: 0 10px 5px;
}

#generated-size fieldset {
  min-height: 114px;
}

.generated-width,
.generated-height {
  font-size: 60%;
  white-space: nowrap;
  font-family: unquote(map-get($bodytype, font-family));
  letter-spacing: 1.5px;
  text-transform: uppercase;
  .changes {
    text-transform: none;
    display: inline-block;
    line-height: 25px;
    padding: 0 5px;
    background: #2f353e;
    border-radius: 3px;
    color: $color-content;
    @include transition(color 0.4s ease-in-out, background 0.4s ease-in-out);
    &[class*="-add"] {
      color: darken($color-content, 45%);
      background: $color-content;
    }
    &.highlight {
      &.ng-enter {
        background: #2f353e;
        color: $color-content;
        &.ng-enter-active {
          color: darken($color-content, 45%);
          background: $color-content;
        }
      }
      &.ng-leave {
        color: darken($color-content, 45%);
        background: $color-content;
        &.ng-leave-active {
          background: #2f353e;
          color: $color-content;
        }
      }
    }
  }
}

label, .value {
  font-size: 60%;
  display: inline-block;
  white-space: nowrap;
  font-family: unquote(map-get($bodytype, font-family));
  letter-spacing: 1.5px;
}

.control-set {
  clear: right;
  width: 100%;
  label {
    width: 25%;
    text-transform: uppercase;
  }
  .slider {
    width: 55%;
  }
  .value {
    width: 10%;
    text-align: right;
  }
}

.box-property {
  @include transition(width 0.3s linear, height 0.3s linear);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-margin {
  background: $color-margin;
}

.box-border {
  background: $color-border;
}

.box-padding {
  background: $color-padding;
}

.box-content {
  background: $color-content;
}

.box {
  position: relative;
}

// ******************************************************************************
//colors
$color_gallery_approx: #eee;
$black_10: rgba(0, 0, 0, 0.1);
$color_mountain_mist_approx: #999;
$black_60: rgba(0, 0, 0, 0.6);
$white: #fff;
$color_cornflower_approx: #9fc4e7;

//fonts

//@extend-elements
//original selectors
//.box-property-vertical, .box-property-horizontal
%extend_1 {
  font-family: unquote(map-get($monospacetype, font-family));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

//original selectors
//.box-property-vertical:before, .box-property-vertical:after
%extend_2 {
  font-family: unquote(map-get($monospacetype, font-family));
  position: absolute;
  left: -0.5em;
  width: 100%;
  font-size: 0.75em;
}

//original selectors
//.box-property-horizontal:before, .box-property-horizontal:after
%extend_3 {
  font-family: unquote(map-get($monospacetype, font-family));
  position: absolute;
  margin-top: -0.65em;
  width: 2em;
  height: 100%;
  font-size: 0.75em;
  text-align: center;
}

.box-property-vertical {
  @extend %extend_1;
  height: 100%;
  border-left: 1px solid $color_gallery_approx;
  border-left: transparent;
  &::before {
    @extend %extend_2;
    content: attr(data-top);
    // top: -0.5em;

  }
  &::after {
    @extend %extend_2;
    content: attr(data-bottom);
    bottom: -0.5em;
  }
}

.box-property-horizontal {
  @extend %extend_1;
  width: 100%;
  border-top: 1px solid $color_gallery_approx;
  border-top: transparent;
  &::before {
    @extend %extend_3;
    content: attr(data-left);
    left: -1em;
  }
  &::after {
    @extend %extend_3;
    content: attr(data-right);
    right: -1em;
  }
}

.box-padding {
  box-sizing: border-box;
  background-color: $color-padding;
  color: darken($color-padding, 40%);
  text-shadow: 0px 1px 1px transparentize(lighten($color-padding, 20%), 0.3);
  border: 1px dashed lighten($bodyColor, 30%);
  .box-property-vertical {
    left: 40%;
  }
  .box-property-horizontal {
    top: 40%;
  }
  &:hover {
    background-color: $color-padding !important;
    .box-property-vertical {
      opacity: 1;
    }
    .box-property-horizontal {
      opacity: 1;
    }
  }
}

.box-border {
  background: $color-border;
  border: 1px solid lighten($bodyColor, 30%);
  .box-property-vertical {
    left: 50%;
  }
  .box-property-horizontal {
    top: 50%;
  }
  &:hover {
    background: $color-border !important;
    .box-property-vertical {
      opacity: 1;
    }
    .box-property-horizontal {
      opacity: 1;
    }
  }
}

.box-margin {
  background: $color-margin;
  border: 1px dashed lighten($bodyColor, 30%);
  .box-property-vertical {
    left: 60%;
  }
  .box-property-horizontal {
    top: 60%;
  }
  &:hover {
    background: $color-margin !important;
    .box-property-vertical {
      opacity: 1;
    }
    .box-property-horizontal {
      opacity: 1;
    }
  }
}

.box-inner {
  background: $color-content;
  border: 1px solid lighten($bodyColor, 30%);
  font-family: unquote(map-get($monospacetype, font-family));
  text-align: center;
  line-height: 1em;
  &:hover {
    background: $color-content !important;
  }
  &:before {
    color: darken($color-content, 40%);
    content: attr(data-width) " x " attr(data-height);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
    width: 100%;
  }
}

.box:hover {
  .box-property {
    background: $white;
  }
  .box-property-vertical {
    opacity: 0;
  }
  .box-property-horizontal {
    opacity: 0;
  }
}

legend, h2 {
  text-transform: uppercase;
  font-weight: 300;
  color: $color-content;
  font-size: 1.3em;
  &#bs {
    color: $color-box-sizing;
  }
}

h2 {
  color: $color-box-sizing;
}

#dimensions {
  margin-top: 20px;
  > div {
    font-family: unquote(map-get($monospacetype, font-family));
  }
}
