// SCSS variables
// ---------------------------------------

// Note: For the following Sass maps enter values as if they would be px units.

// Breakpoint sizes from px to ems. Add more values here to add more breakpoints.
// Change names if you prefer, it wont break the mixin as long as they are strings not just numbers.
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 640,   // 640px   ~ Small tablet up
  break-2: 800,   // 800px   ~ Large tablet up
  break-3: 1024,  // 1024px  ~ Desktop up
  break-4: 1600   // 1600px  ~ Large desktop up
);

// Root font-sizes for each breakpoint. Set to half desired line-height of body text.
// ! Make sure to have as many sizes as breakpoints above.
$rootsizes: (
  rootsize-0: 12,   // 24px line-height body text
  rootsize-1: 14,   // 28px line-height body text
  rootsize-2: 15,   // 30px line-height body text
  rootsize-3: 17,   // 34px line-height body text
  rootsize-4: 19    // 38px line-height body text
);

// Set the optimum line-length for your text (based on typeface).
// Aim for 75–100 characters a line when possible, at smaller sizes type size is more important.
// ! Make sure to have as many widths as breakpoints above.
// Note: this was 'maxwidths' in previous versions.
$measures: (
  measure-0: 500,  // 500px wide
  measure-1: 550,  // 550px wide
  measure-2: 600,  // 600px wide
  measure-3: 680,  // 680px wide
  measure-4: 750   // 750px wide
);

// Set the max-widths for containers (based on design).
// ! Make sure to have as many widths as breakpoints above.
$maxwidths: (
  width-0: 500,  // 500px wide
  width-1: 600,  // 600px wide
  width-2: 800,  // 800px wide
  width-3: 1100, // 110px wide
  width-4: 1300  // 1300px wide
);

// Gutter widths
$gutterwidths: (
  small: 1rem,
  medium: 2rem,
  large: 4rem
);

// Add typefaces here.
// Add weight and style details too.
// ! Set cap height to set to the baseline.

//TODO: add hosted fonts/include font files

$bodytype: (
  font-family: "'Source Sans Pro','Avenir Next', AvenirNext",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.62
);

$headingtype: (
  font-family: "'Source Sans Pro','Avenir Next', AvenirNext",
  text-transform: uppercase,
  regular: 400,
  bold: 700,
  cap-height: 0.30
);

$monospacetype: (
  font-family: "'Source Code Pro', Menlo, monospace",
  regular: 400,
  cap-height: 0.68
);

// Basic Colors
// ---------------------------------------
$color-bg: #242930;
$color-dark-light: #343434;
$color-dark-lighter: #444;
$color-dark-lightest: #777;
$color-body: #808386;
$color-white: #FFFFFF;


// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (scale-0: (alpha: 28, beta: 25, gamma: 22.4, delta: 20, epsilon: 17.9, zeta: 16, eta: 14.3, theta: 12.8, iota: 11.5), scale-1: (alpha: 30, beta: 26.6, gamma: 24, delta: 21.3, epsilon: 19.2, zeta: 17, eta: 15.3, theta: 13.6, iota: 12.8), scale-2: (alpha: 32, beta: 28.1, gamma: 25.6, delta: 22.5, epsilon: 20.5, zeta: 18, eta: 16.3, theta: 14.4, iota: 13.1), scale-3: (alpha: 40, beta: 35.5, gamma: 30, delta: 26.7, epsilon: 22.5, zeta: 20, eta: 16.9, theta: 15, iota: 12.7), scale-4: (alpha: 50, beta: 43.9, gamma: 35.3, delta: 31.1, epsilon: 25, zeta: 22, eta: 17.6, theta: 15.6, iota: 12.5));
